<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic itaque pariatur omnis veritatis facere, quas nam consequuntur, maxime earum distinctio unde quam ratione cupiditate, ut consectetur amet eveniet excepturi numquam.</p>
    <p>Corporis esse nostrum ullam a, expedita est? Soluta veritatis eaque, sequi ipsum maxime molestiae necessitatibus porro aut incidunt omnis ratione accusamus, perspiciatis laborum nisi! Dolores praesentium sint maxime optio aut.</p>
    <p>Facilis maiores odit totam deserunt non debitis delectus rem quidem quas, eveniet culpa enim deleniti, nihil dicta nobis porro id autem sed quam quod neque error, laudantium at magnam? Quisquam.</p>
  </div>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>